z# Node / JavaScript
node_modules/
**/node_modules/
.npm
.eslintcache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Flutter / Dart / Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
hs_err_pid*.log
replay_pid*.log

# Symbolication & Obfuscation related
app.*.symbols
app.*.map.json

# Android Studio & Gradle
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
**/android/.gradle/
**/android/app/build/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# Xcode / iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor files
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.suo
*.user
*.userosv
*.sln
*.swp
.history

# Widget Preview related
.widget_preview/

# Temporary / Scratch
scratch/
tmp/
